
// COLORI

$color-body: lightgray;
$color-header: red ;
$color-button: lightblue;
$color-button-hover: black;
$color-borderButton: green;
$color-textButton: brown;
$color-textButton-hover: white;
$color-footer: blue;
$color-textFooter: white;


// DIMENSIONI

$header-size: 100%;
$margin-all: 0 0 3% 0;

