@import 'variabili';
@import 'button';

body {
    background-color: $color-body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background-color: $color-header;
    width: $header-size;
    height: 75px;
    margin: $margin-all;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    h1:hover {
        transform: scale(1.2);
    }
    h2:hover {
        transform: scale(1.2);
    }
    h3:hover {
        transform: scale(1.2);
    }
    h4:hover {
        transform: scale(1.2);
    }
    h5:hover {
        transform: scale(1.2);
    }
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        margin: 1%;
    }
    div {
        padding: 1%;
        font-size: 0.8em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article {
        margin: $margin-all;
        img {
            border-radius: 25px;
        }
    }
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: $color-footer;
    color: white;
}